@charset 'UTF-8';

@font-face {
   font-family: 'thrifty-thin';
   src: url(fonts/Thrifty\ Thin.ttf);
}

@font-face {
   font-family: 'thrifty-medium';
   src: url(fonts/Thrifty\ Medium.ttf);
}

@font-face {
   font-family: 'thrifty-bold';
   src: url(fonts/Thrifty\ Bold.ttf);
}

@font-face {
   font-family: 'thrifty-extra-light';
   src: url(fonts/Thrifty\ Extra\ Light.ttf);
}

:root{
   --orange: #dd812aea ;
   --darkestpurple: #5E4392 ;
   --lighterpurple: #9989DA ;
   --white: #fff ;
   --gray: #ddd ;
   --dark-gray: #c2c2c2 ;
   --darkest-gray: #7a7a7a;
}

*{
   box-sizing: border-box;
   margin: 0;
   border: 0;
   scroll-behavior: smooth;
}

/* HEADER MENU */

header{
   width: 100%;
   height: 150px;
   background: linear-gradient(to right, var(--lighterpurple), var(--darkestpurple));
   display: flex;
   justify-content: center;
}

.header-container{
   height: 100%;
   width: 67.25%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo-container{
   width: 30%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.logo{
   width: 300px;
   height: 100%;
   object-fit: cover;
}

.menu{
   width: 60%;
   display: flex;
   justify-content: end;
   gap: 40px
}

.menu-btn{
   text-decoration: none;
   color: var(--gray);
   font-size: 1.85rem;
   font-family: 'thrifty-extra-light', Arial, Helvetica, sans-serif;
   transition: 300ms ease-in-out;
   position: relative;
}

.menu-btn::before,
.menu-btn::after{
   height: 3px;
   position: absolute;
   content: '';
   -webkit-transition: all 0.35s ease;
   transition: all 0.35s ease;
   background-color: var(--orange);
   width: 0;
}

.menu-btn::before{
   top: 0;
   left: 0;
}

.menu-btn::after{
   bottom: -2px;
   right: 0;
}

.menu-btn:hover{
   color: var(--white);
}

.menu-btn:hover::before,
.menu-btn:hover::after{
   width: 100%;
}

body{
   background-color: #dbdbdb;
}

/* CARROSSEL */

.carrossel{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
}

.carrossel-container{
   display: flex;
   justify-content: flex-start;
   overflow: hidden;
   width: 70%;
}

.carrossel-container img{
   width: 67.975vw;
   border-radius: 25px;
}

.image{
   transition: 300ms ease-in-out;
}

.last-image{
   transform: translateX(-100%);
}

.current-image{
   transform: translateX(0%);
}

.next-image{
   transform: translateX(100%);
}

.arrows{
   display: flex;
   z-index: 0;
}

.arrow{
   cursor: pointer;
   position: absolute;
   width: 50px;
   height: 50px;
   right: 5%;
   top: 40%;
   font-size: 4rem;
   color: #999;
   background: none;
   transition: 200ms ease-in-out;
   text-align: center;
   opacity: 0.65;
}

.arrow-left{
   left: 5%;
}

.arrow:hover{
   transform: scale(1.25);
   opacity: 1;
}

/* INFO-DIV WITH DROPDOWN MENU */

.info-cliente{
   margin: 5.25vh 0 0 0;
   width: 100%;
   display: flex;
   justify-content: center;   
}

.info-container{
   width: 67.25%;
   display: flex;
   justify-content: center;   
}

.dropdown-container{
   width: 40%;
   display: grid;
   grid-template-rows: 2fr 3fr;  
   justify-items: start;
   align-items: start;
}

.h1-container{
   display: flex;
   align-items: center;
   margin-bottom: 2.85vh;
}

.h1-container h1{
   font-family: 'thrifty-bold', Arial, Helvetica, sans-serif;
   font-size: 3.2rem;
   color: var(--darkestpurple)
}

.h1-container img{
   margin-top: 2.5vh;
   margin-left: 0.75vw;
   width: 10vw;
   object-fit: contain
}

.user-select{
   margin-top: 0.25vh;
   padding: 0.5rem;
   background-color: var(--dark-gray);
   width: 25vw;
   font-family: 'thrifty-extra-light';
   text-align: start;
   color: var(--darkest-gray);
   cursor: pointer;
   border-radius: 20px;
   transition: all 200ms ease-in-out;
}

.select-placeholder{
   display: flex;
   justify-content: space-around;
   font-size: 1.10rem;
}

.select-placeholder p{
   font-size: 1.15rem;
   font-weight: bolder;
}

.select-list{
   list-style: none;
   display: none;
   padding-left: 0;
   transition: all 300ms ease-in-out;
}

.option{
   transition: all 300ms ease-in-out;
   -webkit-transition: all 200ms ease-in-out;
   margin-top: 1vh;
   width: 100%;
   text-align: start;
   text-indent: 1vw;
   text-decoration: none;
   font-size: 1rem;
   color: var(--darkest-gray);
   padding: 2px;
   
}

.option:hover{
   color: var(--darkestpurple);
   text-decoration: underline;
}

.select-list.active{
   display: flex;
   flex-direction: column;
   font-size: 1.5rem;
}

.maquininha-container{
   width: 65%;
   display: flex;
   justify-content: end;
}

.maquin-img{
   width: 33.5vw;
   border-radius: 27.5px;
}
 /*SOBRE NÓS SECTION*/

.sobre-nos{
   font-family: 'thrifty-extra-light', Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100%;
}

.text-div{
   display: grid;
   grid-template-columns: 0.95fr 1.85fr;
   justify-content: center;
   width: 65vw;
   margin-bottom: 80px;
}

.text-div h1{
   font-size: 6rem;
   color: var(--darkestpurple);
   letter-spacing: 5px;
}

.text-div h1 b{
   font-family: 'thrifty-medium', Arial, Helvetica, sans-serif;
   color: var(--orange);
   font-weight: bolder;
}

.text-div p{
   font-size: 1.75rem;
   color: var(--darkest-gray);
   font-weight: 550;
}

.banner-img{
   width: 70vw;
   border-radius: 30px;
}

/* CARROSSEL DIRETORIA */

.carrossel-diretoria{
   margin-top: 60px;
   width: 100%;
   height: 90vh;
   display: flex;
   overflow: hidden;
   position: relative;
}

.carrDir-container{
   display: flex;
   justify-content: flex-start;
   width: 100%;
   height: 100%;
}

.carrosselDiretoria{
   width: 100%;
   display: flex;
   justify-content: center;
}

.carrosselDiretoria .box{
   width: 1920px;
   z-index: -1;
}

.box img{
   width: 1920px;
}

/* NOSSOS PARCEIROS */

.nossos-parceiros{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   justify-content: center;
   font-family: 'Thrifty-extra-light', Arial, Helvetica, sans-serif;
   height: 100vh;
   width: 100%;
}

.texto-parceiros h1{
   font-size: 5rem;
   color: var(--darkestpurple);
}

.texto-parceiros h1 b{
   font-family: 'Thrifty-medium';
   color: var(--orange);
}

.texto-parceiros p{
   color: var(--darkest-gray);
   font-size: 2.75rem;
}

.mapaPayIt{
   width: 45%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mapaPayIt img{
   width: 40vw;
   object-fit: cover;
}

/* SOLUÇÕES SECTION */

.solucoes{
   height: 100vh;
   font-family: 'Thrifty-medium';
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, var(--lighterpurple), var(--darkestpurple));
}

.h1-cont{
   width: 65%;
   height: 30%;
   margin-bottom: 50px;
}

.solucoes h1{
   font-size: 5.5rem;
   color: var(--white);
}

.solucoes-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px;
   height: 50%;
}

.box-solucoes{ 
   border-radius: 55px;
   background-color: var(--gray);
   width: 18em;
   height: 18em;
}